<br>
<div>
    <h2>Carmodels</h2>
    <button class="btn btn-primary">Add carmodel</button>
</div>
<br>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    
    <tbody>
        <% car.forEach(function(c){%>
            <tr>
                <td><%= c.id %></td>
                <td><%= c.brand %></td>
                <td><%= c.model %></td>
                <td><%= c.price %></td>
            </tr>
        <%})%>    

    </tbody>
  </table>